aioch==0.0.2
aiokafka==0.11.0
aiosafeconsumer @ git+https://github.com/lostclus/aiosafeconsumer.git@80a7c176d18a6c67aa4c0325df4dfde6f26c93f8
annotated-types==0.7.0
anyio==4.6.2.post1
arq==0.26.1
asttokens==2.4.1
async-timeout==4.0.3
certifi==2024.8.30
click==8.1.7
clickhouse-driver==0.2.9
coverage==7.6.3
croniter==3.0.3
decorator==5.1.1
dnspython==2.7.0
email_validator==2.2.0
executing==2.1.0
fastapi==0.115.2
h11==0.14.0
hiredis==3.0.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
ipython==8.28.0
jedi==0.19.1
matplotlib-inline==0.1.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
Pygments==2.18.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
redis==5.1.1
sentry-sdk==2.17.0
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.40.0
traitlets==5.14.3
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.32.0
uvloop==0.21.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
-e ../protocol.lib
-e ../stubs.lib
